<article id="game-content">
    <header>
        <hgroup>
            <h2>New Booking Request</h2>
            <h3>(Moderator View)</h3>
        </hgroup>
    </header>
    
    <p>A group of <strong>{{ booking.volume }} {{ booking.anchor_value }}s</strong> is requesting to book tickets.</p>
    <div class="grid">
        <figure>
            <figcaption><strong>Price per Ticket</strong></figcaption>
            <h4 style="margin: 0;">₹{{ booking.price_per_seat }}</h4>
        </figure>
        <figure>
            <figcaption><strong>Potential Revenue</strong></figcaption>
            <h4 style="margin: 0;">₹{{ booking.volume * booking.price_per_seat }}</h4>
        </figure>
    </div>
    <hr>
    <h4>Detailed Demographics</h4>
    {% for category, breakdown in booking.demographic_splits.items() %}
    {% if category != booking.anchor_type %}
    <details>
        <summary role="button" class="secondary outline">{{ category }} Breakdown</summary>
        <ul>
            {% for value, count in breakdown.items() %}
            <li>{{ value }}: <strong>{{ count }}</strong></li>
            {% endfor %}
        </ul>
    </details>
    {% endif %}
    {% endfor %}
    
    <footer>
        <p><em>Waiting for players to make their decisions...</em></p>
        <progress></progress>
    </footer>
</article>
